out
godotProject/bin/VulcantG.dll
godotProject/bin/VulcantG.exp
godotProject/bin/VulcantG.lib
godotProject/bin/VulcantG.pdb
/godotProject/bin/~VulcantG.dll
/godotProject/bin/~VulcantG_0.pdb
godotProject/bin/vulkan-1.dll
*.dll
/.vs/
